<div class="col-md-12 text-center">
  <h1>Survey Builder</div>
  <div class="hline"></div>
</div>
<div class="col-md-12 text-center">
  <p>1. Build Survey | <strong>2. Add Questions</strong></p>
</div>
<div class="row">
  <div class"col-md-12">
    <p>Next, fill in the questions</p>
    <h5>Title:</h5>
    <p><%= survey.title %></p>
    <h5>Description:</h5>
    <p><%= survey.description %></p>
    </br>
  </div>
</div>
