<%= ur_fields.fields_for :answers do |answer_fields| %>
  <%= answer_fields.collection_radio_buttons :choice_id, question.choices, :id, :option do |rb| %>
      <p><%= rb.radio_button %> <%= rb.label %></p>
  <% end %>
<% end %>