 <div class="row">
    <div class="col-md-12 text-center">
      <!-- if controller_name == "surveys" %> -->

      <p>1. Build Survey | <strong>2. Add Questions</strong></p>
    </div>
    <div class"col-md-12">
      <p>Next, fill in the questions</p>
      <h6>Title:</h6>
      <p><%= survey.title %></p>
      <h6>Description:</h6>
      <p><%= survey.description %></p>
    </br>
    </div>
  </div>