<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="">Survey Builder</div>
    <!-- </hr> -->
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <p><b>1. Build Survey </b> | 2. Add Questions</p>
    </div>
    <div class"col-md-12">
      <%= form_for(@survey) do |s| %>
        <p>First, choose a title and description for your survey</p>
        <h6>Survey Title</h6>
        <p><%= s.text_field :title, placeholder: "placeholder text" %></p>
        <h6>Survey Description</h6>
        <p><%= s.text_area :description, placeholder: "placeholder text"%></p>
        <%= s.submit "Create Survey and Begin Adding Questions", class: "btn btn-primary btn-lg btn-block" %>
      <% end %>
    </div>
  </div>
</div>